/* Estilos base */
:root {
    --bg-color: #fafafa;
    --text-color: #000000;
    --main-color: #0077cc;
    --line-color: #e2e7e8;
    --font-text: sans-serif;
    --background: #D8E3FA;
    --gray: #EAEAEC;
    --primary: #29283F;
    --primary-violet: #7370F4;
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--bg-color);
    margin: 0;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
}

.conteiner {
    margin: 150px auto; /* Ajusta el margen en pantallas más pequeñas */
    text-align: center;
    padding: 20px;
    bottom:20px;
    max-width: 800px; /* Ancho máximo del contenedor */
}

.contenedeor-form {
    border: 2px solid var(--line-color);
    background-color: #fff; /* Añade un color de fondo al formulario */
    border-radius: 8px; /* Añade bordes redondeados */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Añade una sombra ligera */
    width: 100%;
    max-width: 600px; /* Ancho máximo del formulario */
    margin: 0 auto; /* Centra el formulario */
    padding: 20px;
}

.correo-content{
	
	margin:20px;
}

#email {
    width: 100%;
    padding: 12px; /* Añade relleno alrededor del texto */
    margin-bottom: 20px; /* Incrementa el espacio entre el campo de entrada y el botón */
    border: 1px solid var(--line-color); /* Añade un borde alrededor del campo de entrada */
    border-radius: 4px; /* Añade bordes redondeados */
    font-size: 16px; /* Ajusta el tamaño del texto */
    color: var(--text-color); /* Cambia el color del texto */
}

#email:focus {
    outline: none; /* Elimina el contorno al enfocar el campo de entrada */
    border-color: var(--main-color); /* Cambia el color del borde al enfocar el campo */
}

.encabezado h1 {
    margin-bottom: 20px; /* Incrementa el espacio entre el título y el párrafo */
    font-size: 36px; /* Reduce ligeramente el tamaño del título */
    font-weight: 600; /* Aumenta el grosor del título */
    color: var(--primary); /* Cambia el color del título */
}

.encabezado p {
    padding: 10px;
    font-size: 16px; /* Ajusta el tamaño del texto del párrafo */
    line-height: 1.6; /* Aumenta el interlineado para una mejor legibilidad */
    color: var(--text-color); /* Cambia el color del texto */
}
.encabezado a{
	
	color: #A2A1A5;
}

.encabezado a:hover{
	
	color: #88878A;
	font-weight: 400;
}
/* Estilos para el botón de enviar */
button.publish-btn {
    padding: 12px 24px; /* Ajusta el espacio alrededor del texto */
    border: none;
    background-color: var(--main-color); /* Cambia el color de fondo del botón */
    color: #fff; /* Cambia el color del texto del botón */
    border-radius: 4px; /* Añade bordes redondeados */
    cursor: pointer;
    transition: background-color 0.3s; /* Agrega una transición suave al color de fondo */
    font-size: 18px; /* Ajusta el tamaño del texto */
}

button.publish-btn:hover {
    background-color: #005ea2; /* Cambia el color de fondo al pasar el cursor sobre el botón */
}

/* Media queries para pantallas más pequeñas */
@media (max-width: 768px) {
    .conteiner {
        margin: 100px auto;
    }

    .contenedeor-form {
        padding: 10px;
    }

    .encabezado p {
        padding: 5px;
    }
}
