/* CSS general */
:root {
	--bg-color: #fafafa;
	--text-color: #000000;
	--main-color: #4117db;
	--line-color: #ccc;
	--font-text: sans-serif;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	text-decoration: none;
	list-style: none;
}

body {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
}

	/*HEADER */


header {
	padding-top: 0;
	padding-bottom: 0;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1000;
	display: flex;
	align-items: center;
	justify-content: center;
	/* Alinea horizontalmente los elementos del header */
	background: rgb(255, 255, 255);
	transition: all .50s ease;
	border-bottom: 1px solid var(--line-color);
}

.header-content {
	width: 1254px; /* Ancho del contenido del encabezado */
	margin: 0 auto; /* Centra horizontalmente el contenido */
	display: flex;
	text-align: center;;
	justify-content: space-between; /* Espacio entre los elementos */
}

.logo {
	display: flex;
	align-items: center;
	text-decoration: none;
	justify-content: center;
}

.logo img {
	width: 30px;
	height: auto;
}

.logo span {
	color: #3b4045;
	font-size: 18px;
	font-weight: 400;
	letter-spacing: -2px; /* Ajusta el espaciado de las letras */
}

/* Contenedor de búsqueda */
.search-container {
	display: flex;
	align-items: center;
	border: 1px solid #ccc;
	padding: 2px;
	background-color: #fff;
	border-radius: 10px;
	width: 70%;
	margin: 10px auto;
	align-items: center;
}

.search-container input[type="text"] {
	flex-grow: 1;
	border: none;
	padding: 8px;
	border-radius: 25px;
	outline: none;
	margin-right: 5px;
}

.search-container button {
	background-color: var(--main-color);
	color: #fff;
	border: none;
	padding: 8px 15px;
	cursor: pointer;
	outline: none;
	margin-left: 5px;
	border-radius: 10px;
}

.actions {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100px;
}

.profile-btn img {
	width: 40px;
	height: auto;
}

.actions a i {
	font-size: 17px; /* Tamaño deseado para los iconos */
	padding: 8px;
	color: var(--line-color);
}
.notifications-btn {
    position: relative; /* Asegura que el elemento padre tenga posición relativa */
}

.notification-count {
    position: absolute; /* Establece la posición absoluta para el contador */
    top: -5px; /* Ajusta la posición vertical */
    right: -8px; /* Ajusta la posición horizontal */
    background-color: #ff3f3f;
    color: white;
    font-size: 12px;
    font-weight: bold;
    padding: 2px 6px;
    border-radius: 50%;
}


	/*CONTAINER */

.container {
	width: 1264px; /* Cambia el valor según tus necesidades */
	height: 1264px;
	position: relative;
	top: 62px;
	margin: 0 auto;
	align-items: center; /* Centra verticalmente el contenido */
	justify-content: center; /* Centra horizontalmente el contenido */
	display: flex;
}

.sidebar {
	width: 164px;
	height: 100%;
	border-right: 1px solid var(--line-color);
	/* Añade una línea en el borde derecho de la barra lateral */
	margin-right: 1100px; /* Ajusta el valor según sea necesario */
	background: white;
}

.sidebar-content {
	height: 400px;
	margin-top: 20px;
	/* Cambia el valor según sea necesario para ajustar la distancia desde la parte superior */
}

.sidebar-content nav {
	position: fixed;
	display: flex;
	flex-direction: column; /* Cambia la dirección del flexbox a columna */
}

nav ul li.active {
	background-color: #f1f2f3;
}

nav ul li.active a {
	color: var(--text-color);
	font-weight: bold;
}

nav #active {
	background: #f1f2f3;
}

nav #active li {
	color: var(--text-color2);
	width: 162px;
}

nav #active a {
	color: var(--text-color);
	font-weight: bold;
}

nav ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

nav li {
	width: 163px;
	border-radius: 5px;
	margin: 7px 0;
	padding: 10px;
	transition: all 0.3s ease;
}

nav li:hover {
	background: #eaeaea;
}

nav a {
	text-decoration: none;
	color: #3b4045;
	font-size: 14px;
	font-weight: 400; transition : all .50s ease;
	position: relative;
	display: block;
	transition: all .50s ease;
}

nav a i {
	margin-right: 5px;
	color: var(--main-color);
}