/* CSS general */
:root {
	--bg-color: #fafafa;
	--text-color: #000000;
	--main-color: #4117db;
	--line-color: #ccc;
	--font-text: sans-serif;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	text-decoration: none;
	list-style: none;
}

/*HEADER */
header {
	padding-top: 0;
	padding-bottom: 0;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1000;
	display: flex;
	align-items: center;
	justify-content: center;
	/* Alinea horizontalmente los elementos del header */
	background: rgb(255, 255, 255);
	transition: all .50s ease;
	border-bottom: 1px solid var(--line-color);
}

.header-content {
	width: 1254px; /* Ancho del contenido del encabezado */
	margin: 0 auto; /* Centra horizontalmente el contenido */
	display: flex;
	text-align: center;;
	justify-content: space-between; /* Espacio entre los elementos */
}

.logo {
	display: flex;
	align-items: center;
	text-decoration: none;
	justify-content: center;
}

.logo img {
	width: 30px;
	height: auto;
}

.logo span {
	color: #3b4045;
	font-size: 18px;
	font-weight: 400;
	letter-spacing: -2px; /* Ajusta el espaciado de las letras */
}

/* Contenedor de búsqueda */
.search-container {
	display: flex;
	align-items: center;
	border: 1px solid #ccc;
	padding: 2px;
	background-color: #fff;
	border-radius: 10px;
	width: 70%;
	margin: 10px auto;
	align-items: center;
}

.search-container input[type="text"] {
	flex-grow: 1;
	border: none;
	padding: 8px;
	border-radius: 25px;
	outline: none;
	margin-right: 5px;
}

.search-container button {
	background-color: var(--main-color);
	color: #fff;
	border: none;
	padding: 8px 15px;
	cursor: pointer;
	outline: none;
	margin-left: 5px;
	border-radius: 10px;
}

.actions {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100px;
}

.profile-btn img {
	width: 40px;
	height: auto;
}

.actions a i {
	font-size: 17px; /* Tamaño deseado para los iconos */
	padding: 8px;
	color: var(--line-color);
}

.notifications-btn {
	position: relative;
	/* Asegura que el elemento padre tenga posición relativa */
}

.notification-count {
	position: absolute;
	/* Establece la posición absoluta para el contador */
	top: -5px; /* Ajusta la posición vertical */
	right: -8px; /* Ajusta la posición horizontal */
	background-color: #ff3f3f;
	color: white;
	font-size: 12px;
	font-weight: bold;
	padding: 2px 6px;
	border-radius: 50%;
}

/*CONTAINER */
.container {
	width: 1264px;;
	height: 1264px;
	position: relative;
	top: 62px;
	margin: 0 auto;
	align-items: center; 
	justify-content: center;
	display: flex;
}

.sidebar {
	width:162px;
	height: 100%;	
	border-right: 1px solid var(--line-color);

	
	background: white;
	
}

.sidebar-content {
	height: 400px;
padding-top: 20px;
	width:162px;
}

nav {
	position: fixed;
	display: flex;
}

nav ul li.active {
	background-color: #f1f2f3;
}

nav ul li.active a {
	color: var(--text-color);
	font-weight: bold;
}

nav #active {
	background: #f1f2f3;
}

nav #active li {
	color: var(--text-color2);
	width: 162px;
}

nav #active a {
	color: var(--text-color);
	font-weight: bold;
}

nav li {
	width: 161px;
	border-radius: 5px;
	margin: 7px 0;
	padding: 10px;
	transition: all 0.3s ease;
}

nav li:hover {
	background: #eaeaea;
}

nav a {
	text-decoration: none;
	color: #3b4045;
	font-size: 14px;
	font-weight: 400;
	transition: all .50s ease;
	position: relative;
	display: block;
	transition: all .50s ease;
}

nav a i {
	margin-right: 5px;
	color: var(--main-color);
}

/* Contenido principal */
#content-center {
	width: 100%;
	height: 100%;
	top: 0;
	padding:20px;
}

#mainbar {
	width: 100%;
	height: 98%;
	margin: 0;
}

#d-flex {
	width: 100%;
	height: auto;
	display: flex;
	align-items: flex-start; /* Cambiado de center a flex-start */
}

#d-flex h1 {
	font-weight: 300;
	font-size: 25px;
	width:80%;
}

.ask-questions {
	background-color: var(--main-color); /* Color de fondo */
	border: 2px solid var(--main-color); /* Borde */
	color: var(--bg-color);
	padding: 10px ;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	transition-duration: 0.4s;
	cursor: pointer;
	border-radius: 5px;
}
.ask-questions:hover{
		background-color: #603EDE; /* Color de fondo */
			border: 2px solid var(--bg-color); /* Borde */
		

}

#menu-icon {
	display: none;
}

#search-icon {
	display: none;
}

nav.open {
	right: 20px;
}

@media ( max-width : 480px) {
	#menu-icon {
		font-size: 20px;
		color: var(--text-color);
		cursor: pointer;
		z-index: 10001;
		margin: 14px;
		right: 0;
		/* Ajusta la posición del ícono del menú al extremo derecho */
		display: flex;
		justify-content: center;
	}
	#search-icon {
		display: flex;
		position: absolute;
		right: 50%; /* Ajusta la posición izquierda del ícono */
	}
	/* Estilos para la barra lateral */
	.sidebar {
		width: 200px; /* Ajusta el ancho según sea necesario */
		height: 100%;
		border-right: 1px solid var(--line-color);
		background: white;
		position: fixed; /* Hace que la barra lateral sea fija */
		left: -200px; /* Oculta la barra lateral por defecto */
		top: 0; /* Ajusta la posición de la barra lateral */
		transition: left 0.5s ease;
		/* Agrega transición para que aparezca suavemente */
		z-index: 999;
		/* Asegura que la barra lateral esté por encima del contenido */
		padding: 20px;
	}
	.sidebar.open {
		left: 0; /* Muestra la barra lateral completamente */
	}
	.sidebar-content {
		height: 100%; /* Ajusta la altura al 100% del contenedor */
		padding-top: 20px; /* Agrega relleno superior */
	}
	.sidebar-content nav {
		display: flex;
		flex-direction: column; /* Cambia la dirección del diseño a columna */
	}
	.logo img {
		width: 40px;
	}
	.logo span {
		display: none;
	}
	header {
		position: fixed; /* Mantiene el encabezado fijo */
		margin: 0;
		width: 100%;
	}
	.header-content {
		width: 100%;
		justify-content: flex-start; /* Alinea el contenido al inicio */
		box-sizing: border-box;
	}
	.actions {
		position: absolute;
		right: 10px;
		top: 50%;
		transform: translate(-20%, -50%);
	}
	.search-icon {
		display: flex;
		position: fixed;
		top: 20px;
		right: 40px;
		transform: translate(300%, -30%);
		z-index: 1001;
	}
	.search-container {
		display: flex;
		position: fixed;
		top: 40px;
		left: 0;
		width: 100%;
		z-index: 1000;
	}

	
	#d-flex h1 {
		font-size: 20px;
	}
	.ask-questions {
		font-size: 10px;
		width: 100px;
		padding:2px;
	}
	.container {
		width: auto;
		top: 50px; /* Ajusta la posición vertical del contenedor */
		margin: 0;
		left: 0;
		right: 0;
	}
	#content-center {
		width: 100%; /* Ocupa todo el ancho del contenedor */
		left: 0; /* Ajusta la posición del lado izquierdo del elemento */
		margin: 0; /* Centra el elemento horizontalmente */
		height: 100%; /* Ajusta la altura automáticamente */
		padding: 20px; /* Agrega espacio interno */
	}
	#mainbar{
		width: auto; /* Ajusta el ancho automáticamente */
		height: auto; /* Ajusta la altura automáticamente */
	}
}
