
.user-main {
    padding: 20px;
}

.flex-h1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.user-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Columnas de igual ancho, cuatro en total */
    gap: 20px;
}

.user-card {
    background-color: #ffff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    cursor: pointer;
    margin-bottom: 20px; /* Añadido margen inferior para separar las tarjetas */
}

.user-card:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2) ;
}

.user-card img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px; /* Espacio inferior entre la imagen y el contenido */
}

.user-card h3 {
    margin-bottom: 5px;
}

.user-card p {
    font-size: 14px;
    color: #6c757d;
    margin-bottom: 15px; /* Espacio inferior entre el texto y el enlace */
}

.profile-link {
    background-color: #007bff;
    color: white;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    display: inline-block; /* Hace que el enlace se comporte como un bloque */
    margin-top: 10px; /* Añadido margen superior para separar el enlace del texto */
}

.profile-link:hover {
    background-color: #0056b3;
}

