<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Perfil</title>
<link rel="stylesheet" type="text/css" href="css/perfil.css">
<link
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
	rel="stylesheet">
<link rel="icon" href="assets/logo03.png" type="image/png">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
	href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap"
	rel="stylesheet">
</head>

<body>
	<header>
		<div class="header-content">
			<div class="fa fa-bars" id="menu-icon"></div>
			<a href="/foro" class="logo"><span class="logo-text">Talk</span></a>
			<div id="search-container" class="search-container">
				<input type="text" placeholder="Buscar en la comunidad">
				<button id="search-encabezado" type="submit">Buscar</button>
			</div>
			<div class="actions">
				<a class="search-icon" id="search-icon"><i class="fas fa-search"></i></a>
				<a href="/perfil" class="profile-btn"><img
					src="/assets/profile.png" alt="Foto de perfil"></a> <a href="#"
					class="notifications-btn"><i class="fas fa-bell"></i><span
					id="notification-count" class="notification-count">0</span></a> <a
					href="/perfil?tab=configuracion" class="settings-btn"><i
					class="fas fa-cog"></i></a>
			</div>
		</div>
	</header>

	<div class="container">
		<div class="sidebar">
			<div class="sidebar-content">
				<nav>
					<ul>
						<li><a href="/foro"><i class="fas fa-home"></i> Inicio</a></li>
						<li><a href="#"><i class="fas fa-question-circle"></i>
								Preguntas</a></li>
						<li><a href="#"><i class="fas fa-tag"></i> Tags</a></li>
						<li><a th:href="@{/perfil(tab='guardados')}"
							th:classappend="${activeTab == 'guardados'} ? 'active' : ''"><i
								class="fas fa-bookmark"></i> Guardado</a></li>
						<li><a href="#"><i class="fas fa-user"></i> Usuarios</a></li>
					</ul>
				</nav>
			</div>
		</div>

		<div id="content-center">
			<div id="mainbar">
				
				
				<div class=""></div>
						<h1>Realiza una pregunta pública</h1>
				</div>
		
				
				</div>
			</div>


	<script>
        document.addEventListener('DOMContentLoaded', function() {
            var menuItems = document.querySelectorAll('.sidebar-content nav ul li');

            menuItems.forEach(function(item) {
                item.addEventListener('click', function() {
                    menuItems.forEach(function(menuItem) {
                        menuItem.classList.remove('active');
                    });
                    this.classList.add('active');
                });
            });

            document.querySelector('.sidebar-content nav ul li:first-child').classList.add('active');

            let menu = document.querySelector('#menu-icon');
            let navbar = document.querySelector('.sidebar');

            menu.onclick = () => {
                menu.classList.toggle('fa-times');
                navbar.classList.toggle('open');
            }

            const searchIcon = document.getElementById('search-icon');
            const searchContainer = document.getElementById('search-container');

            searchIcon.addEventListener('click', function(event) {
                event.preventDefault();
                searchContainer.style.display = searchContainer.style.display === 'block' ? 'none' : 'block';
            });
        });
    </script>
</body>
</html>
