<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Crear Post</title>
<link rel="stylesheet" type="text/css" href="css/createpost.css">
<link
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
	rel="stylesheet">
<link rel="icon" href="assets/logo03.png" type="image/png">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
	href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap"
	rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/choices.js/public/assets/styles/choices.min.css">
<script
	src="https://cdn.jsdelivr.net/npm/choices.js/public/assets/scripts/choices.min.js"></script>
    <script src="https://cdn.ckeditor.com/ckeditor5/36.0.0/classic/ckeditor.js"></script>


</head>

<body>
	<header>
		<div class="header-content">
			<div class="fa fa-bars" id="menu-icon"></div>
			<a href="/foro" class="logo"><span class="logo-text">Talk</span></a>
			<div id="search-container" class="search-container">
				<input class="search-input" type="text" placeholder="Buscar">

			</div>
			<div class="actions">
				<a class="search-icon" id="search-icon"><i class="fas fa-search"></i></a>
				<a href="/perfil" class="profile-btn"><img
					th:src="@{${user.profileImage}}"></a> <a href="#"
					class="notifications-btn"><i class="fas fa-bell"></i><span
					id="notification-count" class="notification-count">0</span></a> <a
					href="/perfil?tab=configuracion" class="settings-btn"><i
					class="fas fa-cog"></i></a> <a href="/logout" class="logout-btn"> <i
					class="fas fa-sign-out-alt"></i>
				</a>
			</div>
		</div>
	</header>

	<div class="container">
		<div class="sidebar">
			<div class="sidebar-content">
				<nav>
					<ul>
						<li><a href="/foro"><i class="fas fa-home"></i> Inicio</a></li>
                        <li><a href="/preguntas"><i class="fas fa-question-circle"></i>
                            Preguntas</a></li>
						<li><a href="/tags"><i class="fas fa-tag"></i> Tags</a></li>
						<li><a th:href="@{/perfil(tab='guardados')}"
							th:classappend="${activeTab == 'guardados'} ? 'active' : ''"><i
								class="fas fa-bookmark"></i> Guardado</a></li>
						<li><a href="#"><i class="fas fa-user"></i> Usuarios</a></li>
					</ul>
				</nav>
			</div>
		</div>

		<div id="content-center">
			<div id="mainbar">
				<div class="create-post">
					<div class="flex-h1">
						<h1>Realiza una pregunta pública</h1>

					</div>

					<div class="rules-question">

						<div class="content-rules">
							<h2 id="h2-estructura">Estructura</h2>
							<p>Este formulario te guiará para realizar una buena
								consulta.</p>

							<h5 id="h5-estructura-pasos">Pasos</h5>
							<ol>
								<li>Resuma su problema en un título de una línea.</li>
								<li>Describe tu problema con más detalle.</li>
								<li>Describe lo que intentaste y lo que esperabas que
									sucediera.</li>
								<li>Agregue "etiquetas" que ayuden a hacer llegar su
									pregunta a los miembros de la comunidad.</li>
								<li>Revise su pregunta y publíquela en el sitio.</li>
							</ol>
						</div>
					</div>



					<form id="question-form" action="/post/new" method="post">
						<div class="question">
							<div class="question-inner">
								<label for="title">Titulo</label> <input type="text" id="title"
									name="postTitle"
									placeholder="Sea específico e imagine que le está haciendo una pregunta a otra persona."
									required autofocus>
							</div>
						</div>

						<div class="question">
							<div class="question-inner">
								<label for="details">Detalles</label>
                                <textarea id="details" name="postDetails"
                                          placeholder="Presenta el problema y amplía lo que pusiste en el título. Mínimo 20 caracteres."
                                          required></textarea>

                            </div>
						</div>

						<div class="question">
							<div class="question-inner">
								<label for="tried">¿Qué intentaste?</label>
								<textarea id="tried" name="tried"
									placeholder="Describe lo que intentaste, lo que esperabas que sucediera y el resultado real. Mínimo 20 caracteres."
									required disabled></textarea>
							</div>
						</div>

						<div class="question">
							<div class="question-inner">
								<label for="tags">Tags</label> <select id="tagsSelect"
									name="tags" multiple></select>
							</div>
						</div>

						<button class="publish-btn" type="submit">Review your
							question and post it to the site</button>
						<a href="#" class="discard-btn" onclick="discardChanges()">Descartar
							cambios</a>

					</form>



				</div>
			</div>
		</div>
	</div>
	<style>
#tagsList li {
	background-color: #f0f0f0;
	/* Cambia el color de fondo según tu preferencia */
	margin-bottom: 10px;
	/* Ajusta el margen inferior según sea necesario */
}
</style>

	<script>
document.addEventListener('DOMContentLoaded', function() {
    var select = new Choices('#tagsSelect', {
        removeItemButton: true, // Habilitar botón para eliminar elementos
        maxItemCount: 5, // Establecer el límite máximo de elementos seleccionados
        allowHTML: true // Permitir HTML en las opciones
    });

    // Hacer una solicitud AJAX para obtener las etiquetas desde la API
    fetch('/api/tags')
        .then(response => response.json())
        .then(data => {
            var options = data.map(function(tag) {
                return { value: tag, label: tag };
            });
            select.setChoices(options, 'value', 'label', true); // Añadir las opciones al select
        })
        .catch(error => console.error('Error fetching tags:', error));
});

</script>

	<script>



document.addEventListener('DOMContentLoaded', function() {
    var menuItems = document.querySelectorAll('.sidebar-content nav ul li');



    document.querySelector('.sidebar-content nav ul li:first-child').classList.add('active');

    let menu = document.querySelector('#menu-icon');
    let navbar = document.querySelector('.sidebar');

    menu.onclick = () => {
        menu.classList.toggle('fa-times');
        navbar.classList.toggle('open');
    }

    const searchIcon = document.getElementById('search-icon');
    const searchContainer = document.getElementById('search-container');

    searchIcon.addEventListener('click', function(event) {
        event.preventDefault();
        searchContainer.style.display = searchContainer.style.display === 'flex' ? 'none' : 'flex';
    });


});

function discardChanges() {
    // Obtener todos los elementos de entrada y textareas del formulario
    var inputs = document.querySelectorAll('#question-form input');
    var textareas = document.querySelectorAll('#question-form textarea');

    // Restablecer los valores de los campos
    inputs.forEach(function(input) {
        input.value = '';
    });

    textareas.forEach(function(textarea) {
        textarea.value = '';
    });
}
</script>

	<script>
document.getElementById('title').addEventListener('input', function() {
    var currentField = this; // Almacena el campo actual
    if (this.value.length >= 20) {
        document.getElementById('details').removeAttribute('disabled');
        document.getElementById('details').classList.remove('disabled-field');
        currentField.focus(); // Mantiene el foco en el campo actual
    }
});

document.getElementById('details').addEventListener('input', function() {
    var currentField = this; // Almacena el campo actual
    if (this.value.length >= 20) {
        document.getElementById('tried').removeAttribute('disabled');
        document.getElementById('tried').classList.remove('disabled-field');
        currentField.focus(); // Mantiene el foco en el campo actual
    }
});

document.getElementById('tried').addEventListener('input', function() {
    var currentField = this; // Almacena el campo actual
    if (this.value.length >= 20) {
        document.getElementById('tagsInput').removeAttribute('disabled');
        document.getElementById('tagsInput').classList.remove('disabled-field');
        currentField.focus(); // Mantiene el foco en el campo actual
    }
});

document.getElementById('details').setAttribute('disabled', true);
document.getElementById('details').classList.add('disabled-field');

document.getElementById('tried').setAttribute('disabled', true);
document.getElementById('tried').classList.add('disabled-field');

</script>
    <script>
        ClassicEditor
            .create(document.querySelector('#details'), {
                toolbar: ['heading', '|', 'bold', 'italic', 'link', 'bulletedList', 'numberedList', 'blockQuote', 'insertTable', 'mediaEmbed', 'codeBlock'],
                codeBlock: {
                    languages: [
                        { language: 'javascript', label: 'JavaScript' },
                        { language: 'html', label: 'HTML' },
                        { language: 'css', label: 'CSS' },
                        // Puedes añadir más lenguajes si es necesario
                    ]
                }
            })
            .catch(error => {
                console.error(error);
            });
    </script>

    <script>

document.querySelector('.publish-btn').addEventListener('click', function(event) {
	  event.preventDefault(); // Evita que el formulario se envíe automáticamente
	  Swal.fire({
	    title: '¿Estás seguro?',
	    text: "Estás a punto de publicar tu pregunta.",
	    icon: 'warning',
	    showCancelButton: true,
	    confirmButtonColor: '#3085d6',
	    cancelButtonColor: '#d33',
	    confirmButtonText: 'Sí, publicar',
	    cancelButtonText: 'Cancelar'
	  }).then((result) => {
	    if (result.isConfirmed) {
	      document.getElementById('question-form').submit(); // Envía el formulario si el usuario confirma
	    }
	  });
	});
</script>
</body>
</html>

