<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Recuperar contraseña</title>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">

<link href="/css/forgotPasswordEmail.css" rel="stylesheet">
</head>
<body>

<section class="conteiner">
    <div class="contenedeor-form">
        <div class="center">
            <div class="encabezado">
                <h1>Recupera tu contraseña</h1>
                <p>Si has olvidado tu contraseña te ayudaremos a recuperarla por medio del correo electrónico siempre y cuando ya te hayas logueado anteriormente</p>
             <form id="recover-form" action="#" th:action="@{/send-reset-email}" method="post" th:object="${emailRequest}">
    <div class="correo-content">
        <div class="question-inner">
            <input type="email" id="email" th:field="*{email}" placeholder="Email" required autofocus>
        </div>
    </div>
    <button class="publish-btn" type="submit">Enviar</button>
</form>

            </div>
        </div>
    </div>
</section>

</body>
</html>
