<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foro</title>
    <link rel="stylesheet" type="text/css" href="css/foro.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <link rel="icon" href="assets/logo03.png" type="image/png">
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap" rel="stylesheet">
</head>

<body>
    <header>

        <a href="index.html" class="logo"><img src="assets/logo03.png" alt="Conexión Vallejo Logo"><span>Conexión
                Vallejo</span></a>
                   
                    <div class="search-container">
                        <input type="text" placeholder="Buscar en la comunidad">
                        <button type="submit">Buscar</button>
                    </div>
           
     
          
   
          
    </header>


</body>

</html>
