<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>ConexionVallejo</title>
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" type="text/css" href="/css/bootstrap.css" />
<link href="/css/responsive.css" rel="stylesheet" />

<link
	href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css"
	rel="stylesheet">
<link rel="stylesheet"
	href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">


<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
	href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap"
	rel="stylesheet">
</head>

<body>
	<div class="hero_area">
		<!-- header section strats -->
		<header class="header_section">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-8">
						<nav class="navbar navbar-expand-lg custom_nav-container ">
							<a class="navbar-brand" href="index.html"> <span> Talk
							</span>
							</a>
							<button class="navbar-toggler" type="button"
								data-toggle="collapse" data-target="#navbarSupportedContent"
								aria-controls="navbarSupportedContent" aria-expanded="false"
								aria-label="Toggle navigation">
								<span class="navbar-toggler-icon"></span>
							</button>

							<div class="collapse navbar-collapse" id="navbarSupportedContent">
								<div class="d-flex  flex-column flex-lg-row align-items-center">
									<ul class="navbar-nav  ">
										<li class="nav-item active"><a class="nav-link"
											href="index.html">Inicio <span class="sr-only">(current)</span></a>
										</li>
										<li class="nav-item"><a class="nav-link"
											href="about.html">Quiénes somos </a></li>
										<li class="nav-item"><a class="nav-link"
											href="service.html">Services </a></li>
										<li class="nav-item"><a class="nav-link"
											href="contact.html">Contacto</a></li>
										<li class="nav-item"><a class="nav-link" href="#">
												Login</a></li>
									</ul>

								</div>
							</div>
						</nav>
					</div>
				</div>
			</div>
		</header>
		<!-- end header section -->
		<!-- slider section -->
		<section class=" slider_section ">
			<div id="carouselExampleIndicators" class="carousel slide"
				data-ride="carousel">
				<ol class="carousel-indicators">
					<li data-target="#carouselExampleIndicators" data-slide-to="0"
						class="active">01</li>
					<li data-target="#carouselExampleIndicators" data-slide-to="1">02</li>
					<li data-target="#carouselExampleIndicators" data-slide-to="2">03</li>
				</ol>
				<div class="carousel-inner">
					<div class="carousel-item active">
						<div class="container">
							<div class="row">
								<div class="col-lg-5 col-md-6">
									<div class="slider_detail-box">
										<h1>
											Talk <br /> Conexión <br /> Centralizada
										</h1>
										<p>Talk es el espacio ideal para conectar con tus
											compañeros, profesores y la comunidad universitaria. Únete a
											la conversación, comparte tus ideas y encuentra respuestas a
											tus preguntas.</p>
										<div class="btn-box">
											<a href="" class="btn-1"> Read More </a>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="slider_img-box">
										<img src="assets/slider.png" alt="" />

									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="carousel-item">
						<div class="container">
							<div class="row">
								<div class="col-lg-5 col-md-6">
									<div class="slider_detail-box">
										<h1>
											Talk <br /> Conexión <br /> Centralizada
										</h1>
										<p>Talk es el espacio ideal para conectar con tus
											compañeros, profesores y la comunidad universitaria. Únete a
											la conversación, comparte tus ideas y encuentra respuestas a
											tus preguntas.</p>
										<div class="btn-box">
											<a href="" class="btn-1"> Read More </a>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="slider_img-box">
										<img src="assets/slider.png" alt="" />
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="carousel-item">
						<div class="container">
							<div class="row">
								<div class="col-lg-5 col-md-6">
									<div class="slider_detail-box">
										<h1>
											Talk <br /> Conexión <br /> Centralizada
										</h1>
										<p>Talk es el espacio ideal para conectar con tus
											compañeros, profesores y la comunidad universitaria. Únete a
											la conversación, comparte tus ideas y encuentra respuestas a
											tus preguntas.</p>
										<div class="btn-box">
											<a href="" class="btn-1"> Read More </a>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="slider_img-box">
										<img src="assets/slider.png" alt="" />
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="carousel_btn-container">
					<a class="carousel-control-prev" href="#carouselExampleIndicators"
						role="button" data-slide="prev"> <span class="sr-only">Previous</span>
					</a> <a class="carousel-control-next" href="#carouselExampleIndicators"
						role="button" data-slide="next"> <span class="sr-only">Next</span>
					</a>
				</div>
			</div>
		</section>
		<!-- end slider section -->
	</div>

	<!-- welcome section -->
	<section class="welcome_section layout_padding">
		<div class="container">
			<div class="custom_heading-container">
				<h2>Conéctate a Talk</h2>
			</div>
			<div class="layout_padding2">
				<div class="img-box">
					<img src="assets/welcomes.png" alt="" />

				</div>
				<div class="detail-box">
					<p>¡Conéctate a Talk y únete a la conversación! Descubre un
						espacio donde puedes compartir tus ideas, hacer preguntas y
						conectarte con tus compañeros y profesores de la Universidad César
						Vallejo - Sede Los Olivos. Regístrate hoy mismo con tu correo
						institucional y empieza a participar en la comunidad. No te
						pierdas la oportunidad de ser parte de esta experiencia
						colaborativa. ¡Te esperamos en Talk!</p>
					<div>
						<a href=""> Más </a>
					</div>
				</div>
			</div>

		</div>
	</section>
	<!-- end welcome section -->

	<!-- service section -->

	<section class="service_section">
		<div class="container">
			<div class="custom_heading-container">
				<h2>Equipo</h2>
			</div>
			<div class="service_container layout_padding2">
				<div class="service_box">
					<div class="img-box">
						<img src="assets/s1.jpg" alt="" />
					</div>
					<div class="detail-box">
						<h4>
							Axel Jhosmell Muñoz Silva 
						</h4>
						<h5>Desarrollador</h5>
						<p>have suffered alteration in some form, by injected humour,
							or randomised words which don&#39;t look even slightly
							believable. If you are</p>
					</div>
				</div>
				<div class="service_box">
					<div class="img-box">
						<img src="assets/s2.jpg" alt="" />
					</div>
					<div class="detail-box">
						<h4>
							Marketing <br /> Analytics
						</h4>
						<p>have suffered alteration in some form, by injected humour,
							or randomised words which don&#39;t look even slightly
							believable. If you are</p>
					</div>
				</div>
				<div class="service_box">
					<div class="img-box">
						<img src="/assets/s3.jpg" alt="" />
					</div>
					<div class="detail-box">
						<h4>
							Financial <br /> Planning
						</h4>
						<p>have suffered alteration in some form, by injected humour,
							or randomised words which don&#39;t look even slightly
							believable. If you are</p>
					</div>
				</div>
					<div class="service_box">
					<div class="img-box">
						<img src="/assets/s3.jpg" alt="" />
					</div>
					<div class="detail-box">
						<h4>
							Financial <br /> Planning
						</h4>
						<p>have suffered alteration in some form, by injected humour,
							or randomised words which don&#39;t look even slightly
							believable. If you are</p>
					</div>
				</div>
			</div>
			<div>
				<a href=""> Read More </a>
			</div>
		</div>
	</section>

	<!-- end service section -->
	<!--problem section -->
	<section class="problem_section layout_padding">
		<div class="container">
			<div class="custom_heading-container">
				<h2>Do you have any business problem ?</h2>
			</div>
			<div class="layout_padding2">
				<div class="img-box">
					<img src="assets/problems.jpg" alt="" />
				</div>
				<div class="detail-box">
					<p>There are many variations of passages of Lorem Ipsum
						available, but the majority have suffered alteration in some form,
						by injected humour, or randomised words which don&#39;t look even
						slightly believable. I</p>
					<div>
						<a href=""> Read More </a>
					</div>
				</div>
			</div>

		</div>
	</section>
	<!-- end problem section -->
	<!-- why section -->

	<section class="why_section layout_padding">
		<div class="container">
			<div class="custom_heading-container">
				<h2>Por qué conectarte a Talk</h2>
			</div>
			<div class="content-container">
				<p></p>
				<div class="row">
					<div class="col-md-3 col-sm-6">
						<div class="img-box">
							<img src="assets/smile.png" alt="" />

						</div>
						<div class="detail-box">
							<h6>COMUNIDAD ACTIVA</h6>
						</div>
					</div>
					<div class="col-md-3 col-sm-6">
						<div class="img-box">
							<img src="assets/monitor.png" alt="" />
						</div>
						<div class="detail-box">
							<h6>DESARROLLO PERSONAL</h6>
						</div>
					</div>
					<div class="col-md-3 col-sm-6">
						<div class="img-box">
							<img src="assets/multipleuserssilhouette.png" alt="" />
						</div>
						<div class="detail-box">
							<h6>APOYO ACADEMICO</h6>
						</div>
					</div>
					<div class="col-md-3 col-sm-6">
						<div class="img-box">
							<img src="assets/barchart.png" alt="" />
						</div>
						<div class="detail-box">
							<h6>ACTUALIZACIONES</h6>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>


	<!-- end why section -->

	<!-- client section -->
	<section class="client_section layout_padding">
		<div class="container">
			<h2>What Our Clients Says</h2>
			<div id="carouselExampleControls" class="carousel slide"
				data-ride="carousel">
				<div class="carousel-inner">
					<div class="carousel-item active">
						<div class="client_container layout_padding2">
							<div class="client_text">
								<p>psum dolor sit amet, consectetur adipiscing elit, sed do
									eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
									enim ad minim veniam, quis nostrud exercitation ullamco laboris
									nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
									in reprehenderit in voluptate velit esse cillum</p>
							</div>
							<div class="detail-box">
								<div class="img-box">
									<img src="assets/client.png" alt="" />
								</div>
								<div class="name">
									<h5>Joans Mark</h5>
									<p>cal</p>
								</div>
							</div>
						</div>
					</div>
					<div class="carousel-item">
						<div class="client_container layout_padding2">
							<div class="client_text">
								<p>psum dolor sit amet, consectetur adipiscing elit, sed do
									eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
									enim ad minim veniam, quis nostrud exercitation ullamco laboris
									nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
									in reprehenderit in voluptate velit esse cillum</p>
							</div>
							<div class="detail-box">
								<div class="img-box">
									<img src="assets/client.png" alt="" />
								</div>
								<div class="name">
									<h5>Joans Mark</h5>
									<p>cal</p>
								</div>
							</div>
						</div>
					</div>
					<div class="carousel-item">
						<div class="client_container layout_padding2">
							<div class="client_text">
								<p>psum dolor sit amet, consectetur adipiscing elit, sed do
									eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
									enim ad minim veniam, quis nostrud exercitation ullamco laboris
									nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
									in reprehenderit in voluptate velit esse cillum</p>
							</div>
							<div class="detail-box">
								<div class="img-box">
									<img src="assets/client.png" alt="" />
								</div>
								<div class="name">
									<h5>Joans Mark</h5>
									<p>cal</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<a class="carousel-control-prev" href="#carouselExampleControls"
					role="button" data-slide="prev"> <span class="sr-only">Previous</span>
				</a> <a class="carousel-control-next" href="#carouselExampleControls"
					role="button" data-slide="next"> <span class="sr-only">Next</span>
				</a>
			</div>

		</div>
	</section>
	<!-- end client section -->
	<!-- contact section -->
	<section class="contact_section layout_padding">
		<div class="container contact_heading">
			<h2>Contact Us</h2>
			<p>psum dolor sit amet, consectetur adipiscing elit, sed do
				eiusmod tempor</p>
		</div>
		<div class="container">
			<form>
				<div class="form-row">
					<div class="form-group col-md-6">
						<label for="inputName4">Name</label> <input type="text"
							class="form-control" id="inputName4" />
					</div>
					<div class="form-group col-md-6">
						<label for="inputEmail4">Email</label> <input type="email"
							class="form-control" id="inputEmail4" />
					</div>

				</div>
				<div class="form-row">
					<div class="form-group col-md-6">
						<label for="inputNumber4">Phone number</label> <input type="tel"
							class="form-control" id="inputNumber4" />
					</div>
					<div class="form-group col-md-6">
						<label for="inputState">Select Service</label> <select
							id="inputState" class="form-control">
							<option selected=""></option>
							<option>...</option>
						</select>
					</div>

				</div>
				<div class="form-group">
					<label for="inputMessage">Message</label> <input type="text"
						class="form-control" id="inputMessage" placeholder="" />
				</div>
		</div>

		<div class="d-flex justify-content-center">
			<button type="submit" class="">Send</button>
		</div>
		</form>

	</section>


	<!-- end contact section -->
	<div class="footer_bg">
		<!-- info section -->
		<section class="info_section layout_padding2-bottom">
			<div class="container">
				<h3 class="">BigWing</h3>
			</div>
			<div class="container info_content">

				<div>
					<div class="row">
						<div class="col-md-6 col-lg-4">
							<div class="d-flex">
								<h5>Useful Link</h5>
							</div>
							<div class="d-flex ">
								<ul>
									<li><a href=""> About Us </a></li>
									<li><a href=""> About services </a></li>
									<li><a href=""> About Departments </a></li>
									<li><a href=""> Services </a></li>
									<li><a href=""> Contact Us </a></li>
								</ul>
								<ul class="ml-3 ml-md-5">
									<li><a href=""> Loram ipusm </a></li>
									<li><a href=""> Loram ipusm </a></li>
									<li><a href=""> Loram ipusm </a></li>
									<li><a href=""> Loram ipusm </a></li>
									<li><a href=""> Loram ipusm </a></li>
								</ul>
							</div>
						</div>
						<div class="col-md-6 col-lg-4">
							<div class="d-flex">
								<h5>The Services</h5>
							</div>
							<div class="d-flex ">
								<ul>
									<li><a href=""> About Us </a></li>
									<li><a href=""> About services </a></li>
									<li><a href=""> About Departments </a></li>
									<li><a href=""> Services </a></li>
									<li><a href=""> Contact Us </a></li>
								</ul>
								<ul class="ml-3 ml-md-5">
									<li><a href=""> Lorem ipsum dolor </a></li>
									<li><a href=""> sit amet, consectetur </a></li>
									<li><a href=""> adipiscing elit, </a></li>
									<li><a href=""> sed do eiusmod </a></li>
									<li><a href=""> tempor incididunt </a></li>
								</ul>
							</div>
						</div>
						<div class="col-md-6 col-lg-4">
							<div class="d-flex">
								<h5>Contact Us</h5>
							</div>
							<div class="d-flex ">
								<ul>
									<li><a href=""> About Us </a></li>
									<li><a href=""> About services </a></li>
									<li><a href=""> About Departments </a></li>
									<li><a href=""> Services </a></li>
									<li><a href=""> Contact Us </a></li>
								</ul>
								<ul class="ml-3 ml-md-5">
									<li><a href=""> Lorem ipsum </a></li>
									<li><a href=""> dolor sit amet, </a></li>
									<li><a href=""> consectetur </a></li>
									<li><a href=""> adipiscing </a></li>
									<li><a href=""> elit, sed do eiusmod </a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div
					class="d-flex flex-column flex-lg-row justify-content-between align-items-center align-items-lg-baseline">
					<div class="social-box">
						<a href=""> <img src="assets/fb.png" alt="" />
						</a> <a href=""> <img src="assets/twitter.png" alt="" />
						</a> <a href=""> <img src="assets/linkedin.png" alt="" />
						</a> <a href=""> <img src="assets/instagram.png" alt="" />
						</a>
					</div>
					<div class="form_container mt-5">
						<form action="">
							<label for="subscribeMail"> Newsletter </label> <input
								type="email" placeholder="Enter Your email" id="subscribeMail" />
							<button type="submit">Subscribe</button>
						</form>
					</div>
				</div>
			</div>

		</section>

		<!-- end info_section -->

		<!-- footer section -->
		<section class="container-fluid footer_section">
			<p>
				© 2019 All Rights Reserved By <a href="https://html.design/">Free
					Html Templates</a>
			</p>
		</section>
		<!-- footer section -->
	</div>


	<script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.js"></script>



</body>
</html>