<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>ConexionVallejo</title>
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" type="text/css" href="/css/bootstrap.css" />
<link href="/css/responsive.css" rel="stylesheet" />

<link
	href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css"
	rel="stylesheet">
<link rel="stylesheet"
	href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">


</head>

<body>
	<div class="hero_area">
		<!-- header section strats -->
		<header class="header_section">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-8">
						<nav class="navbar navbar-expand-lg custom_nav-container ">
							<a class="navbar-brand" href="/inicio"> <span> Talk
							</span>
							</a>
							<button class="navbar-toggler" type="button"
								data-toggle="collapse" data-target="#navbarSupportedContent"
								aria-controls="navbarSupportedContent" aria-expanded="false"
								aria-label="Toggle navigation">
								<span class="navbar-toggler-icon"></span>
							</button>
<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div class="d-flex  flex-column flex-lg-row align-items-center">
        <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link" href="/inicio">Inicio</a></li>
            <li class="nav-item"><a class="nav-link" href="#quienes-somos">Quiénes somos</a></li>
            <li class="nav-item"><a class="nav-link" href="#equipo">Equipo</a></li>
            <li class="nav-item"><a class="nav-link" href="#contacto">Contacto</a></li>
            <li class="nav-item"><a class="nav-link login-link" href="/login">Login</a></li>
        </ul>
    </div>
</div>

						</nav>
					</div>
				</div>
			</div>
		</header>
		<!-- end header section -->
		<!-- slider section -->
		<section class="slider_section" id="inicio">
			<div class="container">
				<div class="row">
					<div class="col-lg-5 col-md-6">
						<div class="slider_detail-box">
							<h1>
								<br /> Conexión <br /> Vallejo
							</h1>
							<p>Talk es el espacio ideal para conectar con tus compañeros,
								profesores y la comunidad universitaria. Únete a la
								conversación, comparte tus ideas y encuentra respuestas a tus
								preguntas.</p>
							<div class="btn-box">
								<a href="" class="btn-1"> Ver mas </a>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="slider_img-box">
							<img src="assets/slider.png" alt="" />
						</div>
					</div>
				</div>
			</div>
		</section>

		<!-- end slider section -->
	</div>

	<!-- welcome section -->
	<section class="welcome_section layout_padding" id="quienes-somos">
		<div class="container">
			<div class="custom_heading-container">
				<h2>¿Quiénes somos?</h2>
			</div>
			<div class="layout_padding2">
				<div class="img-box">
					<img src="assets/whoare.jpg" alt="" />

				</div>
				<div class="detail-box">
					<p>Bienvenido a Talk, el espacio donde la comunidad de la
						Universidad César Vallejo - Sede Los Olivos se conecta y colabora.
						Aquí puedes compartir tus ideas, hacer preguntas y establecer
						conexiones con tus compañeros y profesores. Nuestro objetivo es
						fomentar un ambiente de intercambio y aprendizaje continuo.
						Regístrate hoy mismo con tu correo institucional y comienza a
						participar en esta experiencia única. ¡Únete a Talk y sé parte de
						nuestra comunidad activa y comprometida!</p>
					<div>
						<a href=""> Más </a>
					</div>
				</div>
			</div>

		</div>
	</section>
	<!-- end welcome section -->
	<section class="why_section layout_padding">
		<div class="container">
			<div class="custom_heading-container">
				<h2>Por qué conectarte a Talk</h2>
			</div>
			<div class="content-container">
				<p></p>
				<div class="row">
					<div class="col-md-3 col-sm-6">
						<div class="img-box">
							<img src="assets/smile.png" alt="" />

						</div>
						<div class="detail-box">
							<h6>COMUNIDAD ACTIVA</h6>
						</div>
					</div>
					<div class="col-md-3 col-sm-6">
						<div class="img-box">
							<img src="assets/monitor.png" alt="" />
						</div>
						<div class="detail-box">
							<h6>DESARROLLO PERSONAL</h6>
						</div>
					</div>
					<div class="col-md-3 col-sm-6">
						<div class="img-box">
							<img src="assets/multipleuserssilhouette.png" alt="" />
						</div>
						<div class="detail-box">
							<h6>APOYO ACADEMICO</h6>
						</div>
					</div>
					<div class="col-md-3 col-sm-6">
						<div class="img-box">
							<img src="assets/barchart.png" alt="" />
						</div>
						<div class="detail-box">
							<h6>ACTUALIZACIONES</h6>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>







	<!-- team section -->
	<section class="client_section layout_padding"  id="equipo">
		<div class="container">
			<h2>Equipo</h2>
			<div id="carouselExampleControls" class="carousel slide"
				data-ride="carousel">
				<div class="carousel-inner">
					<div class="carousel-item active">
						<div class="client_container layout_padding2">
							<div class="client_text">
								<p>psum dolor sit amet, consectetur adipiscing elit, sed do
									eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
									enim ad minim veniam, quis nostrud exercitation ullamco laboris
									nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
									in reprehenderit in voluptate velit esse cillum</p>
							</div>
							<div class="detail-box">
								<div class="img-box">
									<img src="assets/axel.png" alt="" />
								</div>
								<div class="name">
									<h5>Axel Muñoz</h5>
									<p>Dev</p>
								</div>
							</div>
						</div>
					</div>
					<div class="carousel-item">
						<div class="client_container layout_padding2">
							<div class="client_text">
								<p>psum dolor sit amet, consectetur adipiscing elit, sed do
									eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
									enim ad minim veniam, quis nostrud exercitation ullamco laboris
									nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
									in reprehenderit in voluptate velit esse cillum</p>
							</div>
							<div class="detail-box">
								<div class="img-box">
									<img src="assets/pedro.png" alt="" />
								</div>
								<div class="name">
									<h5>Pedro Cano</h5>
									<p>Editor</p>
								</div>
							</div>
						</div>
					</div>
					<div class="carousel-item">
						<div class="client_container layout_padding2">
							<div class="client_text">
								<p>psum dolor sit amet, consectetur adipiscing elit, sed do
									eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
									enim ad minim veniam, quis nostrud exercitation ullamco laboris
									nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
									in reprehenderit in voluptate velit esse cillum</p>
							</div>
							<div class="detail-box">
								<div class="img-box">
									<img src="assets/brayan.png" alt="" />
								</div>
								<div class="name">
									<h5>Bryan Pariona</h5>
									<p>front</p>
								</div>
							</div>

						</div>
					</div>
					<div class="carousel-item">
						<div class="client_container layout_padding2">
							<div class="client_text">
								<p>psum dolor sit amet, consectetur adipiscing elit, sed do
									eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
									enim ad minim veniam, quis nostrud exercitation ullamco laboris
									nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
									in reprehenderit in voluptate velit esse cillum</p>
							</div>
							<div class="detail-box">
								<div class="img-box">
									<img src="assets/joaquin.png" alt="" />
								</div>
								<div class="name">
									<h5>Joaquin Sandoval</h5>
									<p>front</p>
								</div>
							</div>

						</div>
					</div>
				</div>
				<a class="carousel-control-prev" href="#carouselExampleControls"
					role="button" data-slide="prev"> <span class="sr-only">Previous</span>
				</a> <a class="carousel-control-next" href="#carouselExampleControls"
					role="button" data-slide="next"> <span class="sr-only">Next</span>
				</a>
			</div>

		</div>
	</section>
	<!-- end client section -->
	<!-- contact section -->
	<section class="contact_section layout_padding" id="contacto">
    <div class="container contact_heading">
        <h2>Contact Us</h2>
        <p>psum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor</p>
    </div>
    <div class="container">
        <form>
            <div class="form-row">
                <div class="form-group col-md-5">
                    <label for="inputName4">Nombre</label>
                    <input type="text" class="form-control" id="inputName4" />
                </div>
                <div class="form-group col-md-6">
                    <label for="inputEmail4">Email</label>
                    <input type="email" class="form-control" id="inputEmail4" />
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputNumber4">Teléfono</label>
                    <input type="tel" class="form-control" id="inputNumber4" />
                </div>
                <div class="form-group col-md-6">
                    <label for="inputState">Cargo</label>
                    <select id="inputState" class="form-control">
                        <option selected=""></option>
                        <option>...</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="inputMessage">Mensaje</label>
                <input type="text" class="form-control" id="inputMessage" placeholder="" />
            </div>
            <div class="d-flex justify-content-center">
                <button type="submit" class="">Send</button>
            </div>
        </form>
    </div>
</section>



	<!-- end contact section -->
	<div class="footer_bg">
		<!-- info section -->
		<section class="info_section layout_padding2-bottom">
			<div class="container">
				<h3 class="">BigWing</h3>
			</div>
			<div class="container info_content">

				<div>
					<div class="row">
						<div class="col-md-6 col-lg-4">
							<div class="d-flex">
								<h5>Useful Link</h5>
							</div>
							<div class="d-flex ">
								<ul>
									<li><a href=""> About Us </a></li>
									<li><a href=""> About services </a></li>
									<li><a href=""> About Departments </a></li>
									<li><a href=""> Services </a></li>
									<li><a href=""> Contact Us </a></li>
								</ul>
								<ul class="ml-3 ml-md-5">
									<li><a href=""> Loram ipusm </a></li>
									<li><a href=""> Loram ipusm </a></li>
									<li><a href=""> Loram ipusm </a></li>
									<li><a href=""> Loram ipusm </a></li>
									<li><a href=""> Loram ipusm </a></li>
								</ul>
							</div>
						</div>
						<div class="col-md-6 col-lg-4">
							<div class="d-flex">
								<h5>The Services</h5>
							</div>
							<div class="d-flex ">
								<ul>
									<li><a href=""> About Us </a></li>
									<li><a href=""> About services </a></li>
									<li><a href=""> About Departments </a></li>
									<li><a href=""> Services </a></li>
									<li><a href=""> Contact Us </a></li>
								</ul>
								<ul class="ml-3 ml-md-5">
									<li><a href=""> Lorem ipsum dolor </a></li>
									<li><a href=""> sit amet, consectetur </a></li>
									<li><a href=""> adipiscing elit, </a></li>
									<li><a href=""> sed do eiusmod </a></li>
									<li><a href=""> tempor incididunt </a></li>
								</ul>
							</div>
						</div>
						<div class="col-md-6 col-lg-4">
							<div class="d-flex">
								<h5>Contact Us</h5>
							</div>
							<div class="d-flex ">
								<ul>
									<li><a href=""> About Us </a></li>
									<li><a href=""> About services </a></li>
									<li><a href=""> About Departments </a></li>
									<li><a href=""> Services </a></li>
									<li><a href=""> Contact Us </a></li>
								</ul>
								<ul class="ml-3 ml-md-5">
									<li><a href=""> Lorem ipsum </a></li>
									<li><a href=""> dolor sit amet, </a></li>
									<li><a href=""> consectetur </a></li>
									<li><a href=""> adipiscing </a></li>
									<li><a href=""> elit, sed do eiusmod </a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div
					class="d-flex flex-column flex-lg-row justify-content-between align-items-center align-items-lg-baseline">
					<div class="social-box">
						<a href=""> <img src="assets/fb.png" alt="" />
						</a> <a href=""> <img src="assets/twitter.png" alt="" />
						</a> <a href=""> <img src="assets/linkedin.png" alt="" />
						</a> <a href=""> <img src="assets/instagram.png" alt="" />
						</a>
					</div>
					<div class="form_container mt-5">
						<form action="">
							<label for="subscribeMail"> Newsletter </label> <input
								type="email" placeholder="Enter Your email" id="subscribeMail" />
							<button type="submit">Subscribe</button>
						</form>
					</div>
				</div>
			</div>

		</section>

		<!-- end info_section -->

		<!-- footer section -->
		<section class="container-fluid footer_section">
			<p>
				© 2019 All Rights Reserved By <a href="https://html.design/">Free
					Html Templates</a>
			</p>
		</section>
		<!-- footer section -->
	</div>


	<script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.js"></script>



</body>
</html>