<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ConexionVallejo</title>
    <link rel="stylesheet" th:href="@{/css/index.css}">
    
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <link rel="icon" href="assets/logo03.png" type="image/png">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap" rel="stylesheet">
</head>

<body>
    <header>

        <a href="inicio" class="logo"><img src="assets/logo03.png" alt="Conexión Vallejo Logo"><span>Conexión
                Vallejo</span></a>
        <nav>
            <ul>
    <li id="home"><a href="#"><i class="fas fa-home"></i> Inicio</a></li>
    <li id="questions"><a href="#"><i class="fas fa-question-circle"></i> Preguntas</a></li>
    <li id="tags"><a href="#"><i class="fas fa-tag"></i> Tags</a></li>
    <li id="saved"><a href="#"><i class="fas fa-bookmark"></i> Guardado</a></li>
    <li id="users"><a href="#"><i class="fas fa-user"></i> Usuarios</a></li>
</ul>

        </nav>
               
        <div class="main">
            <a href="/logins" class="user">Inicia Sesión</a>

            <div class="bx bx-menu" id="menu-icon"> </div></div>
    </header>
    <main class="principal01">
        <h1>Conéctate, Comparte
            y Colabora en la Comunidad Universitaria</h1>
        <div class="search-container">
            <input type="text" placeholder="Descubre">
            <button type="submit">Buscar</button>
        </div>
    </main>

    <section class="landing-page-section">
        <h2>Entra a<span class="gradient-text"> Conexión Vallejo</span></h2>
        <p>
            Totalmente gratis. <!--? more text here -->
        </p>
        <div class="pricing-container">
            <article class="pricing-card pricing-card--primary">
                <img src="assets/complete-package.svg" alt="Complete Package" class="plan-icon">
                <h3>Interacción y Comunidad</h3>

                <a href="foro"       class="enroll">
                    Entrar
                </a>
                <div class="divider"></div>
                <ul>
                    <li>
                        Espacios organizados por temas académicos, extracurriculares y administrativos.
                    </li>
                    <li>
                        Oportunidad para crear y participar en discusiones y debates.
                    </li>
                    <li>
                        Espacio centralizado para fortalecer la interacción entre estudiantes, profesores y personal
                        administrativo.
                    </li>
                    <li>
                        Fomento de un ambiente de aprendizaje enriquecedor y colaborativo.
                    </li>

                </ul>
            </article>
            <article class="pricing-card">
                <img src="assets/video.svg" alt="Video Course" class="plan-icon">
                <h3>Acceso a Recursos</h3>

                <a class="enroll" > Entrar</a>
                <div class="divider"></div>
                <ul>
                    <li>
                        Acceso a información relevante y compartida por la comunidad.
                    </li>
                    <li>
                        Funcionalidades para compartir y consultar materiales de estudio y recursos académicos.
                    </li>
                    <li>
                        Recopilación y acceso a una base de datos de recursos y documentos útiles.
                    </li>
                    <li>
                        Herramientas de búsqueda optimizadas para encontrar rápidamente la información deseada.
                    </li>
                </ul>
            </article>
            <article class="pricing-card">
                <img src="assets/ebook.svg" alt="E-book Package" class="plan-icon">
                <h3>Colaboración Eficiente</h3>

                <a class="enroll"> Entrar
                </a>
                <div class="divider"></div>
                <ul>
                    <li>
                        Posibilidad de colaborar en proyectos y actividades de manera organizada.
                    </li>
                    <li>
                        Facilita la colaboración entre diferentes áreas y disciplinas académicas.
                    </li>
                    <li>
                        Herramientas para organizar y gestionar proyectos de manera efectiva.
                    </li>
                    <li>
                        Integración con herramientas que permiten una colaboración efectiva y en tiempo real.
                    </li>
                </ul>
            </article>
        </div>
    </section>



    
    <footer>
        <hr class="footer-line"></hr>
        <div class="footer-wrapper">
            <section class="footer-top">
                <div class="footer-headline">
                    <h2>¿Quieres ser parte de la comunidad?</h2>
                    <p>
                        Ingresa para conocer nuevas personas y ayudarlos!
                    </p>
                </div>
                <div class="footer-subscribe">
                    <input type="email" spellcheck="false" placeholder="Email">
                    <button>
                        Registrarse
                    </button>
                </div>
            </section>
            <div class="footer-columns">
                <section class="footer-logo">

                    <h2 class="hide">Conexión V.</h2>
                </section>
                <section>
                    <h3>Product</h3>
                    <ul>
                        <li>
                            <a href="index.html" title="API">API</a>
                        </li>
                        <li>
                            <a href="index.html" title="Pricing">Pricing</a>
                        </li>
                        <li>
                            <a href="index.html" title="Documentation">Documentation</a>
                        </li>
                        <li>
                            <a href="index.html" title="Release Notes">Release Notes</a>
                        </li>
                        <li>
                            <a href="index.html" title="Status">Status</a>
                        </li>
                    </ul>
                </section>
                <section>
                    <h3>Resources</h3>
                    <ul>
                        <li>
                            <a href="index.html" title="Support">Support</a>
                        </li>
                        <li>
                            <a href="index.html" title="Sitemap">Sitemap</a>
                        </li>
                        <li>
                            <a href="index.html" title="Newsletter">Newsletter</a>
                        </li>
                        <li>
                            <a href="index.html" title="Help Centre">Help Centre</a>
                        </li>
                        <li>
                            <a href="index.html" title="Investor">Investor</a>
                        </li>
                    </ul>
                </section>
                <section>
                    <h3>Company</h3>
                    <ul>
                        <li>
                            <a href="index.html" title="About Us">About Us</a>
                        </li>
                        <li>
                            <a href="index.html" title="Blog">Blog</a>
                        </li>
                        <li>
                            <a href="index.html" title="Careers">Careers</a>
                        </li>
                        <li>
                            <a href="index.html" title="Press">Press</a>
                        </li>
                        <li>
                            <a href="index.html" title="Contact">Contact</a>
                        </li>
                    </ul>
                </section>
                <section>
                    <h3>Legal</h3>
                    <ul>
                        <li>
                            <a href="index.html" title="Terms and services">
                                Terms
                            </a>
                        </li>
                        <li>
                            <a href="index.html" title="Privacy Policy">
                                Privacy
                            </a>
                        </li>
                        <li>
                            <a href="index.html" title="Cookies">
                                Cookies
                            </a>
                        </li>
                        <li>
                            <a href="index.html" title="Licenses">
                                Licenses
                            </a>
                        </li>
                        <li>
                            <a href="index.html" title="Cookies">
                                Contact
                            </a>
                        </li>
                    </ul>
                </section>
            </div>
            <div class="footer-bottom">
                <small>© Conexión Vallejo. <span id="year">2024</span>, All rights reserved</small>
                <span class="social-links">
                    <a href="index.html" title="Instagram">
                        <img src="./assets/instagram.svg" alt="Instagram">
                    </a>
                    <a href="index.html" title="Linkedin">
                        <img src="./assets/linkedin.svg" alt="Linkedin">
                    </a>
                    <a href="index.html" title="Twitter">
                        <img src="./assets/twitter.svg" alt="Twitter">
                    </a>
                    <a href="index.html" title="Youtube">
                        <img src="./assets/youtube.svg" alt="YouTube">
                    </a>
                    <a href="index.html" title="GitHub">
                        <img src="./assets/github.svg" alt="GitHub">
                    </a>
                </span>
            </div>
        </div>
    </footer>
   
</body>
<script type="text/javascript" src="js/index.js"></script>

<script>
    document.getElementById('login-link').addEventListener('click', function(event) {
    event.preventDefault(); // Evita que el enlace se comporte como un enlace normal

    // Realiza una solicitud GET al backend para obtener el formulario de inicio de sesión
    fetch('http://192.168.0.108:8080/login', {
        method: 'GET',
    })
    .then(response => {
        if (response.ok) {
            // Si la respuesta es exitosa, redirige al usuario a la página de inicio de sesión en el backend
            window.location.href = 'http://192.168.0.108:8080/login';
        } else {
            // Si hay un error en la respuesta, muestra un mensaje de error al usuario
            alert('Error al iniciar sesión. Por favor, intenta nuevamente.');
        }
    })
    .catch(error => {
        // Si hay un error en la solicitud, muestra un mensaje de error al usuario
        console.error('Error al enviar la solicitud:', error);
        alert('Error al iniciar sesión. Por favor, intenta nuevamente.');
    });
});
 

</script>
</html>