<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Recuperar contraseña</title>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
	href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap"
	rel="stylesheet">

<link href="/css/forgotPasswordEmail.css" rel="stylesheet">
</head>
<body>

	<section class="conteiner">
		<div class="contenedeor-form">
			<div class="center">
				<div class="encabezado">
					<h1>Nueva contraseña</h1>
					<p>¡Estás a punto de actualizar tu contraseña! Si necesitas
						cambiar tu contraseña actual por una nueva, estás en el lugar
						correcto. Simplemente proporciona tu nueva contraseña en el campo
						correspondiente y asegúrate de repetirla para confirmarla.
						Recuerda que una contraseña segura es clave para proteger tu
						cuenta. ¡Gracias por mantener tu información segura!</p>
					<form id="recover-form" action="#" th:action="@{/send-reset-email}"
						method="post" th:object="${emailRequest}">
						<div class="correo-content">
							<div class="question-inner">
								<input type="password" id="email" th:field="*{email}"
									placeholder="Nueva contraseña" required autofocus>
							</div>
							<div class="question-inner">
								<input type="password" id="pass" th:field="*{email}"
									placeholder="Repite la contraseña" required autofocus>
							</div>
						</div>
						<button class="publish-btn" type="submit">Actualizar</button>
					</form>

				</div>
			</div>
		</div>
	</section>

</body>
</html>
