<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Perfil</title>
<link rel="stylesheet" type="text/css" href="css/perfil.css">

<link
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
	rel="stylesheet">


<link rel="icon" href="assets/logo03.png" type="image/png">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
	href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
	rel="stylesheet">
</head>

<body>
	<header>
		<div class="header-content">
			<div class="fa fa-bars" id="menu-icon"></div>

			<a href="/inicio" class="logo"> <span class="logo-text">Talk

			</span>
			</a>

			<div id="search-container" class="search-container ">
				<input type="text" placeholder="Buscar en la comunidad">
				<button type="submit">Buscar</button>
			</div>
			<div class="actions">
				<a class="search-icon" id="search-icon"> <i
					class="fas fa-search"></i>
				</a> <a href="/perfil" class="profile-btn"> <img
					src="/assets/profile.png" alt="Foto de perfil">
				</a> <a href="#" class="notifications-btn"> <i class="fas fa-bell"></i>
					<span id="notification-count" class="notification-count">0</span>
				</a> <a href="#" class="settings-btn"> <i class="fas fa-cog"></i>
				</a>
			</div>


		</div>
	</header>



	<div class="container">
		<div class="sidebar">
			<div class="sidebar-content">
				<nav>
					<ul>
						<li><a href="#"><i class="fas fa-home"></i> Inicio</a></li>
						<li><a href="#"><i class="fas fa-question-circle"></i>
								Preguntas</a></li>
						<li><a href="#"><i class="fas fa-tag"></i> Tags</a></li>
						<li><a href="#"><i class="fas fa-bookmark"></i> Guardado</a></li>
						<li><a href="#"><i class="fas fa-user"></i> Usuarios</a></li>
					</ul>
				</nav>

			</div>


		</div>

		<div id="content-center">
			<div id="mainbar">
			

		<div class="card">
                <div class='background'>
                    <img src="assets/profile.png" alt="background">
                </div>
                <div class='content'>
                    <h2>Jason Alexander</h2>
                    <p>
                        I'm JavaScript full-stack engineer, love working with <em>React</em> and <em>Node.js</em>. 
                    </p>
                    <ul class="social-icons">
                        <li>
                            <a href="#twitter" title="Twitter">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" 
                                     viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" 
                                     stroke-linecap="round" stroke-linejoin="round" class="feather feather-twitter"
                                >
                                    <path d="M23 3a10.9 10.9 0 0 1-3.14 1.53 4.48 4.48 0 0 0-7.86 3v1A10.66 
                                            10.66 0 0 1 3 4s-4 9 5 13a11.64 11.64 0 0 1-7 2c9 5 20 0 20-11.5a4.5
                                            4.5 0 0 0-.08-.83A7.72 7.72 0 0 0 23 3z"
                                    >
                                    </path>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="#instagram" title="Instagram">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                     viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" 
                                     stroke-linecap="round" stroke-linejoin="round"
                                >
                                    <rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect>
                                    <path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path>
                                    <line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="#threads" title="Threads">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                     viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" 
                                     fill="none" stroke-linecap="round" stroke-linejoin="round"
                                >
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                    <path d="M19 7.5c-1.333 -3 -3.667 -4.5 -7 -4.5c-5 0 -8 2.5 -8 9s3.5 9 8 9s7 -3 7
                                            -5s-1 -5 -7 -5c-2.5 0 -3 1.25 -3 2.5c0 1.5 1 2.5 2.5 2.5c2.5 0 3.5 -1.5 
                                            3.5 -5s-2 -4 -3 -4s-1.833 .333 -2.5 1"
                                    >
                                    </path>
                                 </svg>
                            </a>
                        </li>
                        <li>
                            <a href="#linkedin" title="Linkedin">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" 
                                     viewBox="0 0 24 24" fill="none" stroke="currentColor" 
                                     stroke-width="2" stroke-linecap="round" stroke-linejoin="round" 
                                     class="feather feather-linkedin"
                                >
                                    <path d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z"/>
                                    <rect x="2" y="9" width="4" height="12"/><circle cx="4" cy="4" r="2"/>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

			</div>


		</div>
	</div>




</body>
<script>
	document
			.addEventListener(
					'DOMContentLoaded',
					function() {
						var menuItems = document
								.querySelectorAll('.sidebar-content nav ul li');

						menuItems.forEach(function(item) {
							item.addEventListener('click', function() {
								menuItems.forEach(function(menuItem) {
									menuItem.classList.remove('active');
								});
								this.classList.add('active');
							});
						});
						document
								.querySelector('.sidebar-content nav ul li:first-child').classList
								.add('active');

					});
	
	let menu = document.querySelector('#menu-icon');
	let navbar = document.querySelector('.sidebar');

	menu.onclick = () => {
	    menu.classList.toggle('fa-times'); // Cambia el ícono de las barras a la cruz
	    navbar.classList.toggle('open'); // Abre o cierra la barra lateral
	}
	
	document.addEventListener('DOMContentLoaded', function() {
	    const searchIcon = document.getElementById('search-icon');
	    const searchContainer = document.getElementById('search-container');

	    // Agregar un controlador de eventos al icono de búsqueda
	    searchIcon.addEventListener('click', function(event) {
	        event.preventDefault(); // Evita que el enlace te lleve al inicio
	        searchContainer.style.display = searchContainer.style.display === 'none' ? 'flex' : 'none';
	        
	        
	    });
	    
	});





</script>
</html>
