<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil Público</title>
    <link rel="stylesheet" type="text/css" href="/css/perfil.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/header.css}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link rel="icon" href="/assets/logo03.png" type="image/png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- Incluye el header existente sin modificaciones -->
    <link th:replace="fragments/header :: header">
    <style>
        .social-icons a {
            margin-right: 10px;
            color: #333;
            text-decoration: none;
        }

        .social-icons a:hover {
            color: #0073e6;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="sidebar">
        <div class="sidebar-content">
            <nav>
                <ul>
                    <li><a href="/foro"><i class="fas fa-home"></i> Inicio</a></li>
                    <li><a href="/preguntas"><i class="fas fa-question-circle"></i> Preguntas</a></li>
                    <li><a href="/tags"><i class="fas fa-tag"></i> Tags</a></li>
                    <li><a href="/users"><i class="fas fa-user"></i> Usuarios</a></li>
                </ul>
            </nav>
        </div>
    </div>

    <div id="content-center">
        <div id="mainbar">
            <div class="card">
                <div class='background'>
                    <img src="assets/profile.png" alt="background" th:src="@{${userpublic.profileImage}}" class="img-profile"/>
                </div>
                <div class='content-card'>
                    <h2 th:text="${userpublic.displayName}">Nombre de Usuario</h2>
                    <p th:text="${userpublic.aboutMe}">correo@example.com</p>
                    <div class="social-icons">
                        <a th:href="${userpublic.facebookUrl}" target="_blank" th:if="${userpublic.facebookUrl}"><i class="fab fa-facebook"></i></a>
                        <a th:href="${userpublic.linkedinUrl}" target="_blank" th:if="${userpublic.linkedinUrl}"><i class="fab fa-linkedin"></i></a>
                        <a th:href="${userpublic.instagramUrl}" target="_blank" th:if="${userpublic.instagramUrl}"><i class="fab fa-instagram"></i></a>
                        <a th:href="${userpublic.tiktokUrl}" target="_blank" th:if="${userpublic.tiktokUrl}"><i class="fab fa-tiktok"></i></a>
                    </div>
                </div>
            </div>
            <div class="info-users">
                <div id="perfil" class="section-content" style="display:block;">
                    <div class="profile-box">
                        <h3>Stats</h3>
                        <ul class="stats">
                            <li><strong th:text="${numRespuestas}"></strong><br>respuestas</li>
                            <li><strong th:text="${numPreguntas}"></strong><br>preguntas</li>
                        </ul>
                    </div>
                    <div class="profile-box">
                        <h3>Top tags</h3>
                        <ul class="tags">
                            <li th:each="tag : ${topTags}">
                                <a th:href="@{/preguntas(tags=${tag.tagName})}" th:text="${tag.tagName}"></a>
                            </li>
                        </ul>


                    </div>
                    <div class="profile-box">
                        <h3>Todas las preguntas</h3>
                        <ul class="posts">
                            <li th:each="post : ${userPosts}">
                                <a th:href="@{'/postopen/' + ${post.id}}">
                                    <span th:text="${post.postTitle}"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    function searchPosts() {
      var query = document.getElementById('search-input').value.trim();
      if (query.length === 0) {
          alert('Por favor ingresa un término de búsqueda.');
          return;
      }
      // Redirigir a la ruta manejada por Spring Boot
      window.location.href = '/search?q=' + encodeURIComponent(query);
  }
</script>

<script th:inline="javascript">
    document.addEventListener('DOMContentLoaded', function() {
        var menuItems = document.querySelectorAll('.sidebar-content nav ul li');

        document.querySelector('.sidebar-content nav ul li:first-child').classList.add('active');

        let menu = document.querySelector('#menu-icon');
        let navbar = document.querySelector('.sidebar');

        menu.onclick = () => {
            menu.classList.toggle('fa-times');
            navbar.classList.toggle('open');
        }

        const searchIcon = document.getElementById('search-icon');
        const searchContainer = document.getElementById('search-container');

        searchIcon.addEventListener('click', function(event) {
            event.preventDefault();
            searchContainer.style.display = searchContainer.style.display === 'none' ? 'flex' : 'none';
        });
    });
</script>
<script th:src="@{/js/header.js}"></script>

</body>
</html>
