<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${post.postTitle}">Título predeterminado</title>
    <link rel="stylesheet" type="text/css" href="/css/postopen.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link rel="icon" href="assets/logo03.png" type="image/png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!-- SweetAlert2 -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <script src="https://cdn.ckeditor.com/4.20.0/standard/ckeditor.js"></script>
</head>

<body>
<header>
    <div class="header-content">
        <div class="fa fa-bars" id="menu-icon"></div>
        <a href="/foro" class="logo"><span class="logo-text">Talk</span></a>
        <div id="search-container" class="search-container">
            <input type="text" placeholder="Buscar">
        </div>
        <div class="actions">
            <a class="search-icon" id="search-icon"><i class="fas fa-search"></i></a>
            <a href="/perfil" class="profile-btn"><img th:src="@{${user.profileImage}}"></a>
            <a href="#" class="notifications-btn"><i class="fas fa-bell"></i><span id="notification-count" class="notification-count">0</span></a>
            <a href="/perfil?tab=configuracion" class="settings-btn"><i class="fas fa-cog"></i></a>
            <a href="/logout" class="logout-btn"><i class="fas fa-sign-out-alt"></i></a>
        </div>
    </div>
</header>

<div class="container">
    <div class="sidebar">
        <div class="sidebar-content">
            <nav>
                <ul>
                    <li><a href="/foro"><i class="fas fa-home"></i> Inicio</a></li>
                    <li><a href="/preguntas"><i class="fas fa-question-circle"></i> Preguntas</a></li>
                    <li><a href="/tags"><i class="fas fa-tag"></i> Tags</a></li>
                    <li><a th:href="@{/perfil(tab='guardados')}" th:classappend="${activeTab == 'guardados'} ? 'active' : ''"><i class="fas fa-bookmark"></i> Guardado</a></li>
                    <li><a href="/users"><i class="fas fa-user"></i> Usuarios</a></li>
                </ul>
            </nav>
        </div>
    </div>

    <div id="content-center">
        <div id="mainbar">
            <div id="d-flex">
                <h1 th:text="${post.postTitle}">Preguntas Top</h1>
                <a href="/createPost" class="ask-questions">Pregunta</a>
            </div>

            <div id="content-listas">
                <div id="flex-questions">
                    <div class="card">
                        <div class="content">
                            <!-- Contenido de la pregunta -->
                            <p th:utext="${post.postDetails}"></p>

                            <ul class="chips">
                                <li th:each="tag : ${post.tag}" class="chip" th:text="${tag.tagName}"></li>
                            </ul>
                            <!-- Botones de editar y eliminar publicación -->
                            <div class="post-actions" th:if="${post.createdByUser != null and post.createdByUser.id == user.id}">
                                <a th:href="@{'/posts/' + ${post.id} + '/edit'}" class="edit-post"><i class="fas fa-edit"></i></a>
                                <a href="#" class="delete-post" th:attr="data-post-id=${post.id}">
                                    <i class="fas fa-trash-alt"></i>
                                </a>
                            </div>






                            <div class="additional-options" th:unless="${post.createdByUser != null and post.createdByUser.id == user.id}">
                                <!-- Formulario para guardar la publicación -->
                                <form id="save-post-form" th:action="@{/save}" method="post" data-message="${message}" data-type="${type}">
                                <!-- Agrega un campo oculto para enviar el ID de la publicación -->
                                <input type="hidden" name="postId" th:value="${post.id}">
                                <!-- Agrega un botón o un enlace para guardar la publicación -->
                                <button type="submit" style="border: none; background-color: transparent; cursor: pointer;">
                                    <i class="fas fa-bookmark"></i>
                                </button>
                            </form>

                            </div>


                            <!-- Información del usuario que pregunta -->
                            <div class="user-info">
                                <div class="user-info-block">
                                    <span>Asked</span>
                                    <span th:text="${age}"></span>
                                </div>
                                <div class="user-profile">
                                    <img th:src="@{${post.createdByUser.profileImage}}" alt="profile">
                                    <a th:href="@{'/inicio/' + ${post.createdByUser.displayName}}">
                                        <span th:text="${post.createdByUser.displayName}"></span>
                                    </a>
                                </div>
                            </div>

                            <!-- Respuestas -->
                            <div class="Answer-header">
                                <h3 th:if="${not #lists.isEmpty(answers)}" th:text="'Respuestas (' + ${#lists.size(answers)} + ')'"></h3>
                            </div>

                            <!-- Itera sobre las respuestas y muestra cada una -->
                            <div th:each="answer : ${answers}" class="answer-card">
                                <!-- Contenido de la respuesta -->
                                <p th:utext="${answer.postDetails}"></p>
                                <!-- Información del usuario que responde -->
                                <div class="user-info">
                                    <div class="user-info-block">
                                        <span>Answered</span>
                                        <span th:text="${answerAges[answer.id]}"></span>
                                    </div>
                                    <div class="user-profile">
                                        <img th:src="@{${answer.createdByUser.profileImage}}" alt="profile">
                                        <a th:href="@{'/inicio/' + ${answer.createdByUser.displayName}}">
                                            <span th:text="${answer.createdByUser.displayName}"></span>
                                        </a>
                                    </div>
                                    <!-- Mostrar botones de editar y eliminar solo si el usuario actual es el autor -->
                                    <div class="post-actions" th:if="${answer.createdByUser != null and answer.createdByUser.id == user.id}">
                                        <a th:href="@{'/answer/' + ${answer.id} + '/edit'}" class="edit-answer"><i class="fas fa-edit"></i></a>
                                        <a href="#" class="delete-answer" th:attr="data-answer-id=${answer.id}"><i class="fas fa-trash-alt"></i></a>
                                    </div>

                                    <!-- Mostrar botones de guardar y votar solo si el usuario actual no es el autor -->
                                    <div class="additional-options" th:unless="${answer.createdByUser != null and answer.createdByUser.id == user.id}">

                                        <!-- Icono de likes -->
                                        <i class="fas fa-thumbs-up"></i>
                                        <!-- Icono de dislikes -->
                                        <i class="fas fa-thumbs-down"></i>
                                    </div>
                                </div>
                            </div>

                            <div class="yourAnswer" th:unless="${post.createdByUser != null and post.createdByUser.id == user.id}">
                                <h1>Tu respuesta</h1>
                                <form id="answer-form" action="/answer/new" method="post" th:action="@{/answer/new}" th:object="${post}">
                                    <input type="hidden" name="parentQuestionId" th:value="${post.id}" required>
                                    <div class="question-inner">
                                        <label for="details">Detalles</label>
                                        <textarea id="details" name="postDetails" placeholder="Presenta el problema y amplía lo que pusiste en el título. Mínimo 20 caracteres." required></textarea>
                                    </div>
                                    <button id="send-answer" type="submit">Responder</button>
                                </form>
                            </div>


                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
</body>
<script>
    // Verificar si hay un textarea visible con ID "details"
    var detailsTextArea = document.getElementById('details');
    if (detailsTextArea && window.getComputedStyle(detailsTextArea).display !== 'none') {
        // Si hay un textarea visible con ID "details", no inicializar CKEditor
        CKEDITOR.replace('details');
    } else {
        // Si no hay un textarea visible con ID "details", inicializar CKEditor
    }
</script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var answerForm = document.getElementById('answer-form');

        if (answerForm) {
            answerForm.addEventListener('submit', function(event) {
                event.preventDefault(); // Evita el envío del formulario inmediato

                Swal.fire({
                    title: '¿Deseas publicar esta respuesta?',
                    icon: 'question',
                    showCancelButton: true,
                    confirmButtonText: 'Sí, publicar',
                    cancelButtonText: 'Cancelar'
                }).then((result) => {
                    if (result.isConfirmed) {
                        // Si el usuario confirma, entonces envía el formulario
                        answerForm.submit();
                    }
                });
            });
        }
    });
</script>

<script th:inline="javascript">
    document.addEventListener('DOMContentLoaded', function() {
        document.querySelectorAll('.delete-post').forEach(function(button) {
            button.addEventListener('click', function(event) {
                event.preventDefault();
                var postId = button.getAttribute('data-post-id');
                Swal.fire({
                    title: '¿Estás seguro?',
                    text: 'No podrás revertir esto',
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Sí, eliminar',
                    cancelButtonText: 'Cancelar'
                }).then((result) => {
                    if (result.isConfirmed) {
                        // Realizar la solicitud DELETE para eliminar la publicación
                        fetch('/posts/delete/' + postId, {
                            method: 'DELETE',
                            headers: {
                                'Content-Type': 'application/json'
                            }
                        })
                        .then(response => {
                            if (response.ok) {
                                // Eliminación exitosa
                                console.log('Publicación eliminada correctamente');
                                Swal.fire({
                                    icon: 'success',
                                    title: 'Publicación eliminada',
                                    text: 'La publicación ha sido eliminada correctamente.'
                                }).then(() => {
                                    window.location.href = '/foro'; // Redirige a /foro después de eliminar
                                });
                            } else {
                                return response.text().then(text => { throw new Error(text) });
                            }
                        })
                        .catch(error => {
                            console.error('Error:', error);
                            // Manejar errores aquí, por ejemplo, mostrar un mensaje al usuario
                            Swal.fire({
                                icon: 'error',
                                title: 'Error al eliminar la publicación',
                                text: 'Por favor, inténtalo de nuevo más tarde. Detalles: ' + error.message
                            });
                        });
                    }
                });
            });
        });
    });
</script>
<script th:inline="javascript">
    document.addEventListener('DOMContentLoaded', function() {
        document.querySelectorAll('.delete-answer').forEach(function(button) {
            button.addEventListener('click', function(event) {
                event.preventDefault();
                var answerId = button.getAttribute('data-answer-id');
                Swal.fire({
                    title: '¿Estás seguro?',
                    text: 'No podrás revertir esto',
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Sí, eliminar',
                    cancelButtonText: 'Cancelar'
                }).then((result) => {
                    if (result.isConfirmed) {
                        // Realizar la solicitud DELETE para eliminar la respuesta
                        fetch('/answers/delete/' + answerId, {
                            method: 'DELETE',
                            headers: {
                                'Content-Type': 'application/json'
                            }
                        })
                        .then(response => {
                            if (response.ok) {
                                // Eliminación exitosa
                                console.log('Respuesta eliminada correctamente');
                                Swal.fire({
                                    icon: 'success',
                                    title: 'Respuesta eliminada',
                                    text: 'La respuesta ha sido eliminada correctamente.'
                                }).then(() => {
                                    window.location.reload(); // Recargar la página después de eliminar
                                });
                            } else {
                                return response.text().then(text => { throw new Error(text) });
                            }
                        })
                        .catch(error => {
                            console.error('Error:', error);
                            // Manejar errores aquí, por ejemplo, mostrar un mensaje al usuario
                            Swal.fire({
                                icon: 'error',
                                title: 'Error al eliminar la respuesta',
                                text: 'Por favor, inténtalo de nuevo más tarde. Detalles: ' + error.message
                            });
                        });
                    }
                });
            });
        });
    });
</script>


<script th:inline="javascript">
    document.addEventListener('DOMContentLoaded', function() {
        // Selecciona el formulario de guardado de la publicación si está presente
        const saveForm = document.querySelector('#save-post-form');

        // Verifica si el formulario está presente antes de agregar el evento de submit
        if (saveForm) {
            // Agrega un controlador de eventos para el evento submit del formulario
            saveForm.addEventListener('submit', function(event) {
                // Evita que el formulario se envíe normalmente
                event.preventDefault();

                // Realiza una solicitud POST al servidor
                fetch('/save', {
                    method: 'POST',
                    body: new FormData(saveForm)
                })
                .then(response => response.json())
                .then(data => {
                    // Obtiene el mensaje y el tipo de la respuesta
                    const message = data.message;
                    const type = data.type;

                    // Muestra la notificación
                    Swal.fire({
                        toast: true,
                        position: 'top-end',
                        showConfirmButton: false,
                        timer: 3000,
                        timerProgressBar: true,
                        icon: type,
                        title: message,
                        customClass: {
                            // Personaliza la clase del Toast para ajustar el tamaño del texto y el padding
                            title: 'swal-title',
                            popup: 'swal-popup'
                        },
                        didOpen: (toast) => {
                            toast.addEventListener('mouseenter', Swal.stopTimer);
                            toast.addEventListener('mouseleave', Swal.resumeTimer);
                        }
                    });
                })
                .catch(error => {
                    console.error('Error:', error);
                });
            });
        }
    });
</script>

<script th:inline="javascript">
    document.addEventListener('DOMContentLoaded', function() {
        document.querySelectorAll('.delete-answer').forEach(function(button) {
            button.addEventListener('click', function(event) {
                event.preventDefault();
                var answerId = button.getAttribute('data-answer-id');
                Swal.fire({
                    title: '¿Quieres eliminar tu respuesta?',
                    text: 'No podrás revertir esto',
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Sí, eliminar',
                    cancelButtonText: 'Cancelar'
                }).then((result) => {
                    if (result.isConfirmed) {
                        // Realizar la solicitud DELETE para eliminar la respuesta
                        fetch('/answers/delete/' + answerId, {
                            method: 'DELETE',
                            headers: {
                                'Content-Type': 'application/json'
                            }
                        })
                        .then(response => {
                            if (response.ok) {
                                // Eliminación exitosa
                                console.log('Respuesta eliminada correctamente');
                                Swal.fire({
                                    icon: 'success',
                                    title: 'Respuesta eliminada',
                                    text: 'La respuesta ha sido eliminada correctamente.'
                                }).then(() => {
                                    window.location.reload(); // Recargar la página después de eliminar
                                });
                            } else {
                                return response.text().then(text => { throw new Error(text) });
                            }
                        })
                        .catch(error => {
                            console.error('Error:', error);
                            // Manejar errores aquí, por ejemplo, mostrar un mensaje al usuario
                            Swal.fire({
                                icon: 'error',
                                title: 'Error al eliminar la respuesta',
                                text: 'Por favor, inténtalo de nuevo más tarde. Detalles: ' + error.message
                            });
                        });
                    }
                });
            });
        });
    });
</script>


<script>
    document.addEventListener('DOMContentLoaded', function() {
        var menuItems = document.querySelectorAll('.sidebar-content nav ul li');
        document.querySelector('.sidebar-content nav ul li:first-child').classList.add('active');
    });

    let menu = document.querySelector('#menu-icon');
    let navbar = document.querySelector('.sidebar');

    menu.onclick = () => {
        menu.classList.toggle('fa-times'); // Cambia el ícono de las barras a la cruz
        navbar.classList.toggle('open'); // Abre o cierra la barra lateral
    }

    document.addEventListener('DOMContentLoaded', function() {
        const searchIcon = document.getElementById('search-icon');
        const searchContainer = document.getElementById('search-container');

        // Agregar un controlador de eventos al icono de búsqueda
        searchIcon.addEventListener('click', function(event) {
            event.preventDefault(); // Evita que el enlace te lleve al inicio
            searchContainer.style.display = searchContainer.style.display === 'none' ? 'flex' : 'none';
        });
    });
</script>

</html>
