<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${post.postTitle}">Título predeterminado</title> <!-- Usar el título pasado como parámetro -->
    <link rel="stylesheet" type="text/css" href="/css/postopen.css">

    <link
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
            rel="stylesheet">


    <link rel="icon" href="assets/logo03.png" type="image/png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
            href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
            rel="stylesheet">
</head>

<body>
<header>
    <div class="header-content">
        <div class="fa fa-bars" id="menu-icon"></div>
        <a href="/foro" class="logo"><span class="logo-text">Talk</span></a>
        <div id="search-container" class="search-container">
            <input type="text" placeholder="Buscar">

        </div>
        <div class="actions">
            <a class="search-icon" id="search-icon"><i class="fas fa-search"></i></a>
            <a href="/perfil" class="profile-btn"><img
                    th:src="@{${user.profileImage}}"></a> <a href="#"
                                                             class="notifications-btn"><i class="fas fa-bell"></i><span
                id="notification-count" class="notification-count">0</span></a> <a
                href="/perfil?tab=configuracion" class="settings-btn"><i
                class="fas fa-cog"></i></a>
            <a href="/logout" class="logout-btn">
                <i class="fas fa-sign-out-alt"></i>
            </a>
        </div>
    </div>
</header>


<div class="container">
    <div class="sidebar">
        <div class="sidebar-content">
            <nav>
                <ul>
                    <li><a href="/foro"><i class="fas fa-home"></i> Inicio</a></li>
                    <li><a href="/preguntas"><i class="fas fa-question-circle"></i>
                        Preguntas</a></li>
                    <li><a href="/tags"><i class="fas fa-tag"></i> Tags</a></li>
                    <li><a th:href="@{/perfil(tab='guardados')}"
                           th:classappend="${activeTab == 'guardados'} ? 'active' : ''"><i
                            class="fas fa-bookmark"></i> Guardado</a></li>
                    <li><a href="/users"><i class="fas fa-user"></i> Usuarios</a></li>
                </ul>
            </nav>

        </div>


    </div>

    <div id="content-center">
        <div id="mainbar">
            <div id="d-flex">
                <h1 th:text="${post.postTitle}">Preguntas Top</h1>
                <a href="/createPost" class="ask-questions">Pregunta</a>

            </div>

            <div id="content-listas">
                <div id="details">
                    <p th:text="${post.postDetails}"></p>


                </div>
                <div id="answers">
                    <p th:text="${post.postDetails}"></p>


                </div>

            </div>

        </div>


    </div>
</div>


</body>
<script>
    document
            .addEventListener(
                    'DOMContentLoaded',
                    function() {
                        var menuItems = document
                                .querySelectorAll('.sidebar-content nav ul li');

                        document
                                .querySelector('.sidebar-content nav ul li:first-child').classList
                                .add('active');

                    });

    let menu = document.querySelector('#menu-icon');
    let navbar = document.querySelector('.sidebar');

    menu.onclick = () => {
        menu.classList.toggle('fa-times'); // Cambia el ícono de las barras a la cruz
        navbar.classList.toggle('open'); // Abre o cierra la barra lateral
    }

    document.addEventListener('DOMContentLoaded', function() {
        const searchIcon = document.getElementById('search-icon');
        const searchContainer = document.getElementById('search-container');

        // Agregar un controlador de eventos al icono de búsqueda
        searchIcon.addEventListener('click', function(event) {
            event.preventDefault(); // Evita que el enlace te lleve al inicio
            searchContainer.style.display = searchContainer.style.display === 'none' ? 'flex' : 'none';


        });

    });


</script>
</html>
